.search-history-wrapper .search-history, .list-group .command-list-item, .no-rounded-corners {
  border-radius:                    0px;
  -webkit-border-radius:            0px;
  -moz-border-radius:               0px;
}

.command-list-item {
  cursor: pointer;
  max-height: 84px;
  overflow: hidden;
}

.scrollbar {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10
}

.command-list {
  padding-top: 46px;
}
