.search-history-wrapper .search-history, .list-group .command-list-item, .no-rounded-corners {
  border-radius:                    0px;
  -webkit-border-radius:            0px;
  -moz-border-radius:               0px;
}

.command-list-item {
  cursor: pointer;
}
